.inputs{
   text-align: center;
   background-color: white;
   margin-top: 12rem;
   margin-left: 30rem;
   margin-right: 30rem;
   border-radius:20px ;
   padding-top: 4rem;
   padding-bottom: 4rem;
  
   
}